@charset "UTF-8";
body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.pc-none {
  display: block;
}
@media (700px <= width) {
  .pc-none {
    display: none;
  }
}

.pc-block {
  display: none;
}
@media (700px <= width) {
  .pc-block {
    display: block;
  }
}

.header {
  background: #2f2f2f;
  height: 60px;
}
@media (700px <= width) {
  .header {
    height: 90px;
  }
}

.header__inner {
  padding: 15px 16px 17px 16px;
  display: flex;
  justify-content: space-between;
}
@media (700px <= width) {
  .header__inner {
    padding: 20px 71px 12px 33px;
  }
}

@media (700px <= width) {
  .header__logo {
    margin-left: -20px;
    margin-top: -5px;
  }
}
@media (700px <= width) {
  .header__logo img {
    padding-left: 18px;
  }
}

.logo__header-sp {
  display: block;
}
@media (700px <= width) {
  .logo__header-sp {
    display: none;
  }
}

.logo__header-pc {
  display: none;
}
@media (700px <= width) {
  .logo__header-pc {
    display: block;
  }
}

.nav_header-lists {
  display: flex; /* 横並びにする */
  justify-content: flex-end; /* 右寄せにする */
  gap: 20px; /* リストアイテム間の均等な間隔 */
  margin-left: 65px;
}
@media (700px <= width) {
  .nav_header-lists {
    justify-content: flex-end;
    gap: 40px;
    margin-top: 15px;
  }
}

.nav_header-list {
  justify-content: space-between;
}
.nav_header-list a {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
@media (700px <= width) {
  .nav_header-list a {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.mv {
  background: #2f2f2f;
  height: 263px;
  position: relative;
  top: -1px;
}
@media (700px <= width) {
  .mv {
    max-width: 100%;
    height: 650px;
  }
}

.mv-bg-image {
  width: 100%;
  height: 243px;
  background-image: url(/image/sp/img_mv\(SP\).png);
  background-position: 66px 0;
  padding-bottom: 20px;
}
@media (700px <= width) {
  .mv-bg-image {
    height: 650px;
    background-image: url(/image/pc/img_mv\ \(PC\).png);
    background-position: right;
  }
}

.mv-texts__en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-left: 19px;
}
@media (700px <= width) {
  .mv-texts__en {
    font-size: 100px;
    line-height: 100px; /* 100% */
    padding-left: 178px;
  }
}

.mv-text__en-farst {
  padding-top: 24px;
  margin-bottom: -10px;
}
@media (700px <= width) {
  .mv-text__en-farst {
    padding-top: 85px;
    margin-bottom: 3px;
  }
}

.salad {
  margin-top: -6px;
  color: #159741;
  font-family: "reross-quadratic", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (700px <= width) {
  .salad {
    margin-top: 1px;
    font-size: 100px;
    line-height: 100px;
  }
}
.salad span {
  color: #FFF;
}

.mv-texts__jp {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  padding-left: 17px;
}
@media (700px <= width) {
  .mv-texts__jp {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-top: 24px;
    padding-left: 180px;
  }
}

.mv-text__jp-farst {
  padding-top: 20px;
  padding-bottom: 9px;
  padding-left: 8px;
}
@media (700px <= width) {
  .mv-text__jp-farst {
    padding-bottom: 22px;
    padding-left: 19px;
  }
}

.mv-text__jp-second-wrapper {
  width: 231px;
  height: 31px;
  background: #159741;
  padding: 4px 8px 7px 0px;
}
@media (700px <= width) {
  .mv-text__jp-second-wrapper {
    width: 524px;
    height: 64px;
    padding: 9px 20px 9px 0;
  }
}

.concept {
  position: relative;
  top: -2px;
  background: #2f2f2f;
  background-image: url(/image/sp/pGarden\ Salad\(sp\).png);
  background-repeat: no-repeat;
  background-position: 6px 274px;
}
@media (700px <= width) {
  .concept {
    background-image: url(/image/pc/Garden\ Salad\(pc\).png);
    background-position: bottom;
  }
}

.concept__inner {
  padding-top: 31px;
  padding-bottom: 40px;
  padding-right: 32px;
  padding-left: 33px;
}
@media (700px <= width) {
  .concept__inner {
    padding-top: 122px;
    padding-bottom: 83px;
  }
}

.concept-title {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 150%; /* 30px */
  padding-bottom: 24px;
  letter-spacing: 1px;
  padding-left: 17px;
}
@media (700px <= width) {
  .concept-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-bottom: 48px;
    padding-left: 3px;
  }
}

.concept-texts {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.48px;
}
@media (700px <= width) {
  .concept-texts {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.concept-text {
  padding-bottom: 24px;
}
@media (700px <= width) {
  .concept-text {
    padding-bottom: 27px;
  }
}

.about {
  background: #f2f2f2;
}

.about__inner {
  padding-top: 61px;
  padding-left: 16px;
  padding-right: 15px;
}
@media (700px <= width) {
  .about__inner {
    padding-top: 129px;
    padding-bottom: 150px;
    padding-right: 180px;
    padding-left: 180px;
  }
}

.about-subtitle {
  color: #159741;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-bottom: 8px;
}
@media (700px <= width) {
  .about-subtitle {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.about-title {
  position: relative;
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-bottom: 12px;
  margin-bottom: 56px;
}
@media (700px <= width) {
  .about-title {
    font-size: 48px;
    letter-spacing: 2.4px;
  }
}
.about-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}
@media (700px <= width) {
  .about-title::before {
    bottom: -6px;
  }
}

@media (700px <= width) {
  .about-text-container-01 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 11px;
  }
}

@media (700px <= width) {
  .about-text-container-02 {
    display: flex;
    margin-bottom: 11px;
  }
}

@media (700px <= width) {
  .about-text-container-03 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

.about-text-bg01 {
  background-image: url(/image/sp/01.png);
  background-position: right 45px;
}
@media (700px <= width) {
  .about-text-bg01 {
    background-image: url(/image/pc/01\ \(pc\).png);
    background-position: right 38px top 63px;
  }
}

.about-text-bg02 {
  background-image: url(/image/sp/02.png);
  background-position: right 79px;
}
@media (700px <= width) {
  .about-text-bg02 {
    background-image: url(/image/pc/02\ \(pc\).png);
    background-position: left 256px top 33px;
  }
}

.about-text-bg03 {
  background-image: url(/image/sp/03.png);
  background-position: right 68px;
  margin-bottom: 14px;
}
@media (700px <= width) {
  .about-text-bg03 {
    background-image: url(/image/pc/03\ \(pc\).png);
    background-position: right 1px top 31px;
  }
}

.about-heading {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
  padding-left: 9px;
}
@media (700px <= width) {
  .about-heading {
    font-size: 30px;
    letter-spacing: 1.5px;
    padding-left: 0;
  }
}
.about-heading span {
  color: #159741;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
@media (700px <= width) {
  .about-heading span {
    font-size: 30px;
    letter-spacing: 1.5px;
  }
}

@media (700px <= width) {
  .about-heading-01 {
    margin-top: 21px;
    margin-bottom: 7px;
  }
}

@media (700px <= width) {
  .about-heading-02 {
    margin-top: 40px;
    margin-bottom: 7px;
  }
}

@media (700px <= width) {
  .about-heading-03 {
    margin-top: -9px;
    margin-bottom: 7px;
  }
}

.about-text {
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.48px;
  padding-bottom: 32px;
  padding-left: 9px;
  padding-right: 7px;
}
@media (700px <= width) {
  .about-text {
    font-size: 18px;
    letter-spacing: 0.54px;
    padding-left: 0;
  }
}

@media (700px <= width) {
  .about__text01 {
    margin-right: 155px;
  }
}

@media (700px <= width) {
  .about__text02 {
    margin-right: 223px;
  }
}

.about__text03 {
  margin-bottom: 13px;
}
@media (700px <= width) {
  .about__text03 {
    margin-right: 150px;
  }
}

@media (700px <= width) {
  .about-image-wrpper-01 {
    padding-right: 67px;
    margin-top: 30px;
  }
}

@media (700px <= width) {
  .about-image-wrpper-03 {
    margin-right: 71px;
  }
}

.about-image img {
  padding-bottom: 57px;
}
@media (700px <= width) {
  .about-image img {
    width: 450px;
  }
}

.parallax__image {
  width: 375px;
  height: 267px;
  position: relative;
  overflow: hidden;
  margin-top: -23px;
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 0.01s ease-out;
  will-change: transform; /* パフォーマンスを向上させる */
}

.menu {
  background: #2F2F2F;
  position: relative;
  text-align: center;
}

.menu__inner {
  padding: 56px 0 111px;
}
.menu__inner::after {
  position: absolute;
  border: 1px solid #FFF;
  content: "";
  top: 24px;
  bottom: 24px;
  right: 16px;
  left: 16px;
  margin-bottom: 24px;
}

.nemu-title__jp {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-bottom: 9px;
}

.nemu-title__en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  position: relative;
}
.nemu-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #fff; /*線の色*/
}

.menu-text-pfc {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 60px;
  margin-bottom: 19px;
}

.menu-card__text__wrapper {
  width: 300px;
  height: 222px;
  background: #F2F2F2;
  outline: 1px solid #333;
  outline-offset: -10px;
}

.menu-card__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding-bottom: 16px;
}

.menu-card__price {
  padding-bottom: 16px;
}

.menu-card__price-en {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

.menu-card__price-price {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}

.menu-card__price-tax {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.menu-card__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding-top: 1px;
  margin-left: 22px;
  margin-right: 21px;
}

.menu-image__1 {
  position: relative;
  top: 30px;
  z-index: 2;
  padding-left: 24px;
  padding-right: 36px;
}
.card1__wrapper {
  height: 323px;
  margin-left: 38px;
  margin-right: 37px;
  margin-bottom: 32px;
  position: relative;
  top: -16px;
}

.menu-card1__Recommendation {
  width: 211px;
  height: 97px;
  border: 2px solid #159741;
  background: #159741;
  margin: 0 auto;
  position: absolute;
  left: 45px;
}

.menu-card1__Recommendation-en {
  color: #FFF;
  font-family: "Satisfy", serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  margin-top: 37px;
}

.menu-card1__Recommendation-jp {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.54px;
}

.menu-card1__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 2.4px;
  padding-top: 121px;
  padding-bottom: 13px;
}

.menu-card1__price {
  padding-bottom: 16px;
}

.menu-card1__price-en {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

.menu-card1__price-price {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}

.menu-card1__price-tax {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.menu-card1__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-bottom: 42px;
}

.menu-image__2 {
  position: relative;
  z-index: 1;
  padding-right: 6px;
}
.card2-text__wrapper {
  margin-left: 38px;
  margin-right: 37px;
  margin-bottom: -13px;
  position: relative;
  bottom: 60px;
}

.card__title2 {
  padding-top: 58px;
  padding-bottom: 11px;
}

.card__price2 {
  padding-left: 10px;
}

.menu-image__3 {
  position: relative;
  z-index: 1;
}
.card3-text__wrapper {
  margin-left: 41px;
  margin-right: 34px;
  margin-bottom: -10px;
  position: relative;
  bottom: 60px;
}

.card__title3 {
  padding-top: 56px;
  padding-bottom: 11px;
}

.card__price3 {
  padding-left: 10px;
}

.instagram-card {
  background: #F2F2F2;
  outline: 1px solid #333;
  outline-offset: -10px;
  margin-left: 41px;
  margin-right: 34px;
  margin-bottom: -31px;
}

.instagram-card__title {
  background: #159741;
  position: relative;
  z-index: 1;
  margin-left: 57px;
  margin-right: 58px;
  margin-bottom: 24px;
}

.instagram-card__title-en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding: 7px 34px 11px 34px;
}

.instagram-card__text {
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 32px 24px;
}

.instagram-card__image-container img {
  width: 125px;
  height: 125px;
}

.instagram-card__ID {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 24px;
  padding-right: 10px;
}

.instagram-card__btn-text {
  border: 1px solid #333;
  margin: 0 20px 34px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 37px;
}

.external-icon {
  width: 19px;
  height: 19px;
  margin-bottom: -3px;
  margin-left: 16px;
  margin-right: 17px;
}

.shop__inner {
  padding-top: 64px;
}

.menu-title__jp {
  text-align: center;
  color: #159741;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.menu-title__en {
  position: relative;
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-bottom: 68px;
}
.menu-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 56px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}

.shop__access-map {
  margin-bottom: 56px;
}
.shop-name {
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: 0.96px;
}
.shop-name span {
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%; /* 18px */
  padding-right: 4px;
}

.shop-ruby {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding-bottom: 24px;
}

.shop-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.48px;
  padding-left: 28px;
}

.shop-information {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.48px;
  padding-left: 28px;
}/*# sourceMappingURL=style.css.map */