@charset "UTF-8";
body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.pc-none {
  display: block;
}
@media (700px <= width) {
  .pc-none {
    display: none;
  }
}

.pc-block {
  display: none;
}
@media (700px <= width) {
  .pc-block {
    display: block;
  }
}

.header {
  background: #2f2f2f;
  height: 60px;
}
@media (700px <= width) {
  .header {
    height: 90px;
  }
}

.header__inner {
  padding: 15px 16px 17px 16px;
  display: flex;
  justify-content: space-between;
}
@media (700px <= width) {
  .header__inner {
    padding: 20px 71px 12px 33px;
  }
}

@media (700px <= width) {
  .header__logo {
    margin-left: -20px;
    margin-top: -5px;
  }
}
@media (700px <= width) {
  .header__logo img {
    padding-left: 18px;
  }
}

.logo__header-sp {
  display: block;
}
@media (700px <= width) {
  .logo__header-sp {
    display: none;
  }
}

.logo__header-pc {
  display: none;
}
@media (700px <= width) {
  .logo__header-pc {
    display: block;
  }
}

.nav_header-lists {
  display: flex; /* 横並びにする */
  justify-content: flex-end; /* 右寄せにする */
  gap: 20px; /* リストアイテム間の均等な間隔 */
  margin-left: 65px;
}
@media (700px <= width) {
  .nav_header-lists {
    justify-content: flex-end;
    gap: 40px;
    margin-top: 15px;
  }
}

.nav_header-list {
  justify-content: space-between;
}
.nav_header-list a {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
@media (700px <= width) {
  .nav_header-list a {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.mv {
  background: #2f2f2f;
  height: 263px;
  position: relative;
  top: -1px;
}
@media (700px <= width) {
  .mv {
    max-width: 100%;
    height: 650px;
  }
}

.mv-bg-image {
  width: 100%;
  height: 243px;
  background-image: url(/image/sp/img_mv\(SP\).png);
  background-position: 66px 0;
  padding-bottom: 20px;
}
@media (700px <= width) {
  .mv-bg-image {
    height: 650px;
    background-image: url(/image/pc/img_mv\ \(PC\).png);
    background-position: right;
  }
}

.mv-texts__en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-left: 19px;
}
@media (700px <= width) {
  .mv-texts__en {
    font-size: 100px;
    line-height: 100px; /* 100% */
    padding-left: 178px;
  }
}

.mv-text__en-farst {
  padding-top: 24px;
  margin-bottom: -10px;
}
@media (700px <= width) {
  .mv-text__en-farst {
    padding-top: 85px;
    margin-bottom: 3px;
  }
}

.salad {
  margin-top: -6px;
  color: #159741;
  font-family: "reross-quadratic", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (700px <= width) {
  .salad {
    margin-top: 1px;
    font-size: 100px;
    line-height: 100px;
  }
}
.salad span {
  color: #FFF;
}

.mv-texts__jp {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  padding-left: 17px;
}
@media (700px <= width) {
  .mv-texts__jp {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-top: 24px;
    padding-left: 180px;
  }
}

.mv-text__jp-farst {
  padding-top: 20px;
  padding-bottom: 9px;
  padding-left: 8px;
}
@media (700px <= width) {
  .mv-text__jp-farst {
    padding-bottom: 22px;
    padding-left: 19px;
  }
}

.mv-text__jp-second-wrapper {
  width: 231px;
  height: 31px;
  background: #159741;
  padding: 4px 8px 7px 0px;
}
@media (700px <= width) {
  .mv-text__jp-second-wrapper {
    width: 524px;
    height: 64px;
    padding: 9px 20px 9px 0;
  }
}

.concept {
  position: relative;
  top: -2px;
  background: #2f2f2f;
  background-image: url(/image/sp/pGarden\ Salad\(sp\).png);
  background-repeat: no-repeat;
  background-position: 6px 274px;
}
@media (700px <= width) {
  .concept {
    background-image: url(/image/pc/Garden\ Salad\(pc\).png);
    background-position: bottom;
  }
}

.concept__inner {
  padding-top: 31px;
  padding-bottom: 40px;
  padding-right: 32px;
  padding-left: 33px;
}
@media (700px <= width) {
  .concept__inner {
    padding-top: 122px;
    padding-bottom: 83px;
  }
}

.concept-title {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 150%; /* 30px */
  padding-bottom: 24px;
  letter-spacing: 1px;
  padding-left: 17px;
}
@media (700px <= width) {
  .concept-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-bottom: 48px;
    padding-left: 3px;
  }
}

.concept-texts {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.48px;
}
@media (700px <= width) {
  .concept-texts {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.concept-text {
  padding-bottom: 24px;
}
@media (700px <= width) {
  .concept-text {
    padding-bottom: 27px;
  }
}

.about {
  background: #f2f2f2;
}

.about__inner {
  padding-top: 61px;
  padding-left: 16px;
  padding-right: 15px;
}
@media (700px <= width) {
  .about__inner {
    padding-top: 129px;
    padding-bottom: 150px;
    padding-right: 180px;
    padding-left: 180px;
  }
}

.about-subtitle {
  color: #159741;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-bottom: 8px;
}
@media (700px <= width) {
  .about-subtitle {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.about-title {
  position: relative;
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-bottom: 12px;
  margin-bottom: 56px;
}
@media (700px <= width) {
  .about-title {
    font-size: 48px;
    letter-spacing: 2.4px;
  }
}
.about-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}
@media (700px <= width) {
  .about-title::before {
    bottom: -6px;
  }
}

@media (700px <= width) {
  .about-text-container-01 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 11px;
  }
}

@media (700px <= width) {
  .about-text-container-02 {
    display: flex;
    margin-bottom: 11px;
  }
}

@media (700px <= width) {
  .about-text-container-03 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

.about-text-bg01 {
  background-image: url(/image/sp/01.png);
  background-position: right 45px;
}
@media (700px <= width) {
  .about-text-bg01 {
    background-image: url(/image/pc/01\ \(pc\).png);
    background-position: right 38px top 63px;
  }
}

.about-text-bg02 {
  background-image: url(/image/sp/02.png);
  background-position: right 79px;
}
@media (700px <= width) {
  .about-text-bg02 {
    background-image: url(/image/pc/02\ \(pc\).png);
    background-position: left 256px top 33px;
  }
}

.about-text-bg03 {
  background-image: url(/image/sp/03.png);
  background-position: right 68px;
  margin-bottom: 14px;
}
@media (700px <= width) {
  .about-text-bg03 {
    background-image: url(/image/pc/03\ \(pc\).png);
    background-position: right 1px top 31px;
  }
}

.about-heading {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
  padding-left: 9px;
}
@media (700px <= width) {
  .about-heading {
    font-size: 30px;
    letter-spacing: 1.5px;
    padding-left: 0;
  }
}
.about-heading span {
  color: #159741;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
@media (700px <= width) {
  .about-heading span {
    font-size: 30px;
    letter-spacing: 1.5px;
  }
}

@media (700px <= width) {
  .about-heading-01 {
    margin-top: 21px;
    margin-bottom: 7px;
  }
}

@media (700px <= width) {
  .about-heading-02 {
    margin-top: 40px;
    margin-bottom: 7px;
  }
}

@media (700px <= width) {
  .about-heading-03 {
    margin-top: -9px;
    margin-bottom: 7px;
  }
}

.about-text {
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.48px;
  padding-bottom: 32px;
  padding-left: 9px;
  padding-right: 7px;
}
@media (700px <= width) {
  .about-text {
    font-size: 18px;
    letter-spacing: 0.54px;
    padding-left: 0;
  }
}

@media (700px <= width) {
  .about__text01 {
    margin-right: 155px;
  }
}

@media (700px <= width) {
  .about__text02 {
    margin-right: 223px;
  }
}

.about__text03 {
  margin-bottom: 13px;
}
@media (700px <= width) {
  .about__text03 {
    margin-right: 150px;
  }
}

@media (700px <= width) {
  .about-image-wrpper-01 {
    padding-right: 67px;
    margin-top: 30px;
  }
}

@media (700px <= width) {
  .about-image-wrpper-03 {
    margin-right: 71px;
  }
}

.about-image img {
  padding-bottom: 57px;
}
@media (700px <= width) {
  .about-image img {
    width: 450px;
  }
}

.parallax__image {
  width: 375px;
  height: 267px;
  position: relative;
  overflow: hidden;
  margin-top: -23px;
}
@media (700px <= width) {
  .parallax__image {
    width: 1440px;
    height: 450px;
  }
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 0.01s ease-out;
  will-change: transform; /* パフォーマンスを向上させる */
}

.menu {
  background: #2F2F2F;
  position: relative;
  text-align: center;
}

.menu__inner {
  padding: 56px 0 111px;
}
@media (700px <= width) {
  .menu__inner {
    padding: 152px 72px 112px;
  }
}
.menu__inner::after {
  position: absolute;
  border: 1px solid #FFF;
  content: "";
  top: 24px;
  bottom: 24px;
  right: 16px;
  left: 16px;
  margin-bottom: 24px;
}
@media (700px <= width) {
  .menu__inner::after {
    top: 72px;
    bottom: 72px;
    right: 72px;
    left: 72px;
  }
}

.menu-title__jp {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-bottom: 9px;
}
@media (700px <= width) {
  .menu-title__jp {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.menu-title__en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  position: relative;
}
@media (700px <= width) {
  .menu-title__en {
    font-size: 48px;
    letter-spacing: 2.4px;
    padding-bottom: 16px;
  }
}
.menu-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #fff; /*線の色*/
}

.menu-text-pfc {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 60px;
  margin-bottom: 19px;
}
@media (700px <= width) {
  .menu-text-pfc {
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-bottom: 105px;
  }
}

.menu-card__text__wrapper {
  width: 300px;
  height: 222px;
  background: #F2F2F2;
  outline: 1px solid #333;
  outline-offset: -10px;
}
@media (700px <= width) {
  .menu-card__text__wrapper {
    width: 524px;
    height: 280px;
    outline-offset: -13px;
  }
}

.menu-card__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding-bottom: 16px;
}
@media (700px <= width) {
  .menu-card__title {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.menu-card__price {
  padding-bottom: 16px;
}

.menu-card__price-en {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
@media (700px <= width) {
  .menu-card__price-en {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}

.menu-card__price-price {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}
@media (700px <= width) {
  .menu-card__price-price {
    font-size: 40px;
    letter-spacing: 4px;
  }
}

.menu-card__price-tax {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
@media (700px <= width) {
  .menu-card__price-tax {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}

.menu-card__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding-top: 1px;
  margin-left: 22px;
  margin-right: 21px;
}
@media (700px <= width) {
  .menu-card__text {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

@media (700px <= width) {
  .menu-card1__wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

.menu-image__1 {
  position: relative;
  top: 30px;
  z-index: 2;
  padding-left: 24px;
  padding-right: 36px;
}
@media (700px <= width) {
  .menu-image__1 {
    top: auto;
    bottom: 68px;
    left: 80px;
    padding-right: 0;
  }
}
.card1__wrapper {
  height: 323px;
  margin-left: 38px;
  margin-right: 37px;
  margin-bottom: 32px;
  position: relative;
  top: -16px;
}
@media (700px <= width) {
  .card1__wrapper {
    width: 592px;
    height: 367px;
    margin-left: 60px;
    margin-bottom: 85px;
  }
}

.menu-card1__Recommendation {
  width: 211px;
  height: 97px;
  border: 2px solid #159741;
  background: #159741;
  margin: 0 auto;
  position: absolute;
  left: 45px;
}
@media (700px <= width) {
  .menu-card1__Recommendation {
    width: 251px;
    height: 78px;
    margin-left: 141px;
    margin-right: 170px;
    padding-bottom: 35px;
  }
}

.menu-card1__Recommendation-en {
  color: #FFF;
  font-family: "Satisfy", serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  margin-top: 37px;
}
@media (700px <= width) {
  .menu-card1__Recommendation-en {
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-top: 10px;
  }
}

.menu-card1__Recommendation-jp {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.54px;
}
@media (700px <= width) {
  .menu-card1__Recommendation-jp {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.menu-card1__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 2.4px;
  padding-top: 121px;
  padding-bottom: 13px;
}
@media (700px <= width) {
  .menu-card1__title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.menu-card1__price {
  padding-bottom: 16px;
}

.menu-card1__price-en {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
@media (700px <= width) {
  .menu-card1__price-en {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}

.menu-card1__price-price {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}
@media (700px <= width) {
  .menu-card1__price-price {
    font-size: 40px;
    letter-spacing: 4px;
  }
}

.menu-card1__price-tax {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
@media (700px <= width) {
  .menu-card1__price-tax {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}

.menu-card1__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-bottom: 42px;
}
@media (700px <= width) {
  .menu-card1__text {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

@media (700px <= width) {
  .menu-card__wrap {
    display: flex; /* 横並びにする */
    justify-content: center; /* 中央寄せ */
    gap: 32px; /* 要素間の余白（必要に応じて調整） */
  }
}

.menu-image__2 {
  position: relative;
  z-index: 1;
  padding-right: 6px;
}
@media (700px <= width) {
  .menu-image__2 {
    left: 60px;
  }
}
.card2-text__wrapper {
  margin-left: 38px;
  margin-right: 37px;
  margin-bottom: -13px;
  position: relative;
  bottom: 60px;
}
@media (700px <= width) {
  .card2-text__wrapper {
    margin-right: 0;
  }
}

.card__title2 {
  padding-top: 58px;
  padding-bottom: 11px;
}

.card__price2 {
  padding-left: 10px;
}

.menu-image__3 {
  position: relative;
  z-index: 1;
}
@media (700px <= width) {
  .menu-image__3 {
    left: 15px;
  }
}
.card3-text__wrapper {
  margin-left: 41px;
  margin-right: 34px;
  margin-bottom: -10px;
  position: relative;
  bottom: 60px;
}
@media (700px <= width) {
  .card3-text__wrapper {
    margin-left: 0;
  }
}

.card__title3 {
  padding-top: 56px;
  padding-bottom: 11px;
}

.card__price3 {
  padding-left: 10px;
}

.instagram-card {
  background: #F2F2F2;
  outline: 1px solid #333;
  outline-offset: -10px;
  margin-left: 41px;
  margin-right: 34px;
  margin-bottom: -31px;
}
@media (700px <= width) {
  .instagram-card {
    width: 1080px;
    height: 544px;
    outline-offset: -13px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.instagram-card__title {
  background: #159741;
  position: relative;
  z-index: 1;
  margin-left: 57px;
  margin-right: 58px;
  margin-bottom: 24px;
}
@media (700px <= width) {
  .instagram-card__title {
    width: 360px;
    height: 73px;
    margin: 0 auto;
  }
}

.instagram-card__title-en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding: 7px 34px 11px 34px;
}
@media (700px <= width) {
  .instagram-card__title-en {
    font-size: 30px;
    letter-spacing: 1.5px;
    padding-top: 18px;
    padding-bottom: 19px;
  }
}

.instagram-card__text {
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 32px 24px;
}
@media (700px <= width) {
  .instagram-card__text {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.9px;
    padding-top: 28px;
    padding-bottom: 34px;
  }
}

@media (700px <= width) {
  .instagram-card__image-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
.instagram-card__image-container img {
  width: 125px;
  height: 125px;
}
@media (700px <= width) {
  .instagram-card__image-container img {
    width: 231px;
    height: 231px;
  }
}

.instagram-card__ID {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 24px;
  padding-right: 10px;
}
@media (700px <= width) {
  .instagram-card__ID {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 26px;
  }
}

.instagram-card__btn-text {
  display: inline-flex;
  align-items: center;
  border: 1px solid #333;
  margin: 0 20px 34px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 37px;
  cursor: pointer;
}
@media (700px <= width) {
  .instagram-card__btn-text {
    font-size: 16px;
    cursor: pointer;
  }
}
.instagram-card__btn-text:hover {
  background: #333;
  color: #fff;
}

.external-icon {
  width: 19px;
  height: 19px;
  margin-bottom: -3px;
  margin-left: 16px;
  margin-right: 17px;
}

.shop {
  background: #F2F2F2;
}

.shop__inner {
  padding-top: 45px;
}

.shop-title__jp {
  text-align: center;
  color: #159741;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
@media (700px <= width) {
  .shop-title__jp {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.shop-title__en {
  position: relative;
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-top: 10px;
  padding-bottom: 68px;
}
@media (700px <= width) {
  .shop-title__en {
    font-size: 48px;
    letter-spacing: 2.4px;
  }
}
.shop-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 56px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}

.shop__access-map {
  margin-bottom: 48px;
}

.union__image-wrap {
  position: relative;
}

.union-image {
  position: absolute;
  right: 64px;
  bottom: 67px;
}

.shop-logo {
  position: absolute;
  right: 73px;
  bottom: 90px;
}

.shop-name {
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: 0.96px;
}
.shop-name span {
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%; /* 18px */
  padding-right: 4px;
}
@media (700px <= width) {
  .shop-name span {
    color: #333;
    text-align: center;
    font-family: Reross;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.shop-ruby {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding-bottom: 24px;
}

.shop-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.48px;
  padding-left: 28px;
  padding-top: 2px;
}
@media (700px <= width) {
  .shop-adress {
    font-size: 18px;
    line-height: 200%; /* 36px */
    letter-spacing: 0.54px;
  }
}

.shop-information {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.48px;
  padding-left: 28px;
  padding-bottom: 40px;
  padding-top: 4px;
}
@media (700px <= width) {
  .shop-information {
    font-size: 18px;
    line-height: 200%; /* 36px */
    letter-spacing: 0.54px;
  }
}

.shop-image__exterior {
  padding: 0 16px;
  margin-bottom: 93px;
}

.post-card__container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
}

.post-card__wrapper {
  background: #fff;
  padding: 18px 10px 113px 10px;
  box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.6);
}

.post-card__images {
  position: relative;
}

.post-card__stamp {
  position: absolute;
  top: -58px;
  left: -26px;
}

.post-card__terrace {
  outline: 1px solid #fff;
  outline-offset: -10px;
}

.post-card__takeout {
  outline: 1px solid #fff;
  outline-offset: -10px;
  margin-top: -5px;
}

.card-text__wrapper {
  padding-top: 14px;
  padding-left: 14px;
}

.card-text__title {
  color: #333;
  font-family: Satisfy;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.card-text {
  color: #4F4F4F;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 250%; /* 40px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-color: #4F4F4F;
          text-decoration-color: #4F4F4F;
  text-underline-offset: 10px;
}

.card-text-image {
  position: relative;
}
.card-text-image img {
  position: absolute;
  top: -10px;
  left: 22px;
}

.contact {
  background-image: url(/image/sp/img：野菜\(背景\).png);
}

.contact__inner {
  padding: 64px 16px;
}

.contact__wrapper {
  background: #F2F2F2;
}

.contact-title__jp {
  text-align: center;
  color: #159741;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-top: 64px;
}

.contact-title__en {
  position: relative;
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-top: 10px;
  padding-bottom: 58px;
}
.contact-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 47px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}

.contact-text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding-left: 16px;
  padding-bottom: 11px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 31px 20px;
}
.contact-form .form-group {
  margin-bottom: 31px;
}
.contact-form .form-group .form-label {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
.contact-form .form-group .form-label .required {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  border-radius: 6px;
  background: #159741;
  padding: 1px 7px 3px 8px;
  margin-left: 10px;
}
.contact-form .form-group .form-input,
.contact-form .form-group .form-textarea {
  width: 102%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #2F2F2F;
  background: #fff;
  margin-top: 6px;
}
.contact-form .form-group .form-input::-moz-placeholder, .contact-form .form-group .form-textarea::-moz-placeholder {
  color: #BDBDBD;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-form .form-group .form-input::placeholder,
.contact-form .form-group .form-textarea::placeholder {
  color: #BDBDBD;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-form .form-group .form-textarea {
  height: 160px;
}
.contact-form .form-group .form-checkbox {
  margin-right: 10px;
}

.form-textarea {
  width: 100%;
  height: 150px;
  background: #fff;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2F2F2F;
}
.form-textarea::-moz-placeholder {
  color: #BDBDBD;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-textarea::placeholder {
  color: #BDBDBD;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.privacy-text {
  padding-bottom: 5px;
}
.privacy-text span {
  color: #159741;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.8px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.form-button {
  color: #FFF;
  width: 300px;
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: 0.9px;
  cursor: pointer;
  background: #159741;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-top: 44px;
  margin-left: 3px;
}
.form-button:hover {
  opacity: 0.7;
}

.footer {
  background: #F2F2F2;
}

.footer__inner {
  padding: 48px 46px 10px;
}

.sns-icons {
  display: flex;
  padding-left: 26px;
  padding-right: 27px;
  padding-bottom: 35px;
  gap: 40px;
}

.twitter-icon {
  position: relative;
}

.twitter-icon__image {
  position: absolute;
  top: 5.8px;
  left: 5.8px;
}

.instagram-icon {
  position: relative;
}

.instagram-icon__image {
  position: absolute;
  top: 10.7px;
  left: 6.7px;
}

.tiktok-icon {
  position: relative;
}

.tiktok-icon__image {
  position: absolute;
  top: 12px;
  left: 12px;
}

.footer-nav {
  display: flex;
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  gap: 32px;
}

.footer-logo {
  text-align: center;
  padding-top: 35px;
}
.footer-text {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  padding-top: 23px;
}

.page-top__btn img {
  margin-left: auto;
  display: block;
}
/*# sourceMappingURL=style.css.map */