@charset "UTF-8";
body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.pc-none {
  display: block;
}
@media (min-width: 1025px) {
  .pc-none {
    display: none;
  }
}

.pc-block {
  display: none;
}
@media (min-width: 1025px) {
  .pc-block {
    display: block;
  }
}

.header {
  background: #2f2f2f;
  height: 60px;
}
@media (min-width: 1025px) {
  .header {
    height: 90px;
  }
}

.header__inner {
  padding: 15px 16px 17px 16px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .header__inner {
    padding: 20px 71px 12px 33px;
  }
}

@media (min-width: 1025px) {
  .header__logo {
    margin-left: -20px;
    margin-top: -5px;
  }
}
@media (min-width: 1025px) {
  .header__logo img {
    padding-left: 18px;
  }
}

.logo__header-sp {
  display: block;
}
@media (min-width: 1025px) {
  .logo__header-sp {
    display: none;
  }
}

.logo__header-pc {
  display: none;
}
@media (min-width: 1025px) {
  .logo__header-pc {
    display: block;
  }
}

.nav_header-lists {
  display: flex; /* 横並びにする */
  justify-content: flex-end; /* 右寄せにする */
  gap: 20px; /* リストアイテム間の均等な間隔 */
  margin-left: 65px;
}
@media (min-width: 1025px) {
  .nav_header-lists {
    justify-content: flex-end;
    gap: 40px;
    margin-top: 15px;
  }
}

.nav_header-list {
  justify-content: space-between;
}
.nav_header-list a {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
.nav_header-list a:hover {
  border-bottom: solid 2px #159741;
}
@media (min-width: 1025px) {
  .nav_header-list a {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.mv {
  background: #2f2f2f;
  height: 263px;
  position: relative;
  top: -1px;
}
@media (min-width: 1025px) {
  .mv {
    max-width: 100%;
    height: 650px;
  }
}

.mv-bg-image {
  max-width: 100%;
  height: 243px;
  background-image: url(/image/sp/img_mv\(SP\).png);
  background-position: 66px 0;
  padding-bottom: 20px;
  background-size: contain;
}
@media (min-width: 1025px) {
  .mv-bg-image {
    height: 650px;
    background-image: url(/image/pc/img_mv\ \(PC\).png);
    background-position: right;
  }
}

.mv-texts__en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-left: 19px;
}
@media (min-width: 1025px) {
  .mv-texts__en {
    font-size: 100px;
    line-height: 100px; /* 100% */
    padding-left: 178px;
  }
}

.mv-text__en-farst {
  padding-top: 24px;
  margin-bottom: -10px;
}
@media (min-width: 1025px) {
  .mv-text__en-farst {
    padding-top: 85px;
    margin-bottom: 3px;
  }
}

.salad {
  margin-top: -6px;
  color: #159741;
  font-family: "reross-quadratic", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 1025px) {
  .salad {
    margin-top: 1px;
    font-size: 100px;
    line-height: 100px;
  }
}
.salad span {
  color: #FFF;
}

.mv-texts__jp {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  padding-left: 17px;
}
@media (min-width: 1025px) {
  .mv-texts__jp {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-top: 24px;
    padding-left: 180px;
  }
}

.mv-text__jp-farst {
  padding-top: 20px;
  padding-bottom: 9px;
  padding-left: 8px;
}
@media (min-width: 1025px) {
  .mv-text__jp-farst {
    padding-bottom: 22px;
    padding-left: 19px;
  }
}

.mv-text__jp-second-wrapper {
  width: 231px;
  height: 31px;
  background: #159741;
  padding: 4px 8px 7px 0px;
}
@media (min-width: 1025px) {
  .mv-text__jp-second-wrapper {
    width: 524px;
    height: 64px;
    padding: 9px 20px 9px 0;
  }
}

.concept {
  position: relative;
  top: -2px;
  background: #2f2f2f;
  background-image: url(/image/sp/pGarden\ Salad\(sp\).png);
  background-repeat: no-repeat;
  background-position: 6px 274px;
}
@media (min-width: 1025px) {
  .concept {
    background-image: url(/image/pc/Garden\ Salad\(pc\).png);
    background-position: bottom;
  }
}

.concept__inner {
  padding-top: 31px;
  padding-bottom: 40px;
  padding-right: 32px;
  padding-left: 33px;
}
@media (min-width: 1025px) {
  .concept__inner {
    padding-top: 122px;
    padding-bottom: 83px;
  }
}

.concept-title {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 24px;
  letter-spacing: 1px;
  padding-left: 17px;
}
@media (min-width: 1025px) {
  .concept-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-bottom: 48px;
    padding-left: 3px;
  }
}

.concept-texts {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.48px;
}
@media (min-width: 1025px) {
  .concept-texts {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.concept-text {
  padding-bottom: 24px;
}
@media (min-width: 1025px) {
  .concept-text {
    padding-bottom: 27px;
  }
}

.about {
  background: #f2f2f2;
}

.about__inner {
  padding-top: 61px;
  padding-left: 16px;
  padding-right: 15px;
}
@media (min-width: 1025px) {
  .about__inner {
    padding-top: 129px;
    padding-bottom: 98px;
    padding-right: 180px;
    padding-left: 180px;
  }
}

.about-subtitle {
  color: #159741;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-bottom: 8px;
}
@media (min-width: 1025px) {
  .about-subtitle {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.about-title {
  position: relative;
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-bottom: 12px;
  margin-bottom: 56px;
}
@media (min-width: 1025px) {
  .about-title {
    font-size: 48px;
    letter-spacing: 2.4px;
  }
}
.about-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}
@media (min-width: 1025px) {
  .about-title::before {
    bottom: -6px;
  }
}

@media (min-width: 1025px) {
  .about-text-container-01 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 11px;
  }
}

@media (min-width: 1025px) {
  .about-text-container-02 {
    display: flex;
    margin-bottom: 11px;
  }
}

@media (min-width: 1025px) {
  .about-text-container-03 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

.about-text-bg01 {
  background-image: url(/image/sp/01.png);
  background-position: right 45px;
}
@media (min-width: 1025px) {
  .about-text-bg01 {
    background-image: url(/image/pc/01\ \(pc\).png);
    background-position: right 38px top 63px;
  }
}

.about-text-bg02 {
  background-image: url(/image/sp/02.png);
  background-position: right 79px;
}
@media (min-width: 1025px) {
  .about-text-bg02 {
    background-image: url(/image/pc/02\ \(pc\).png);
    background-position: left 256px top 33px;
  }
}

.about-text-bg03 {
  background-image: url(/image/sp/03.png);
  background-position: right 68px;
}
@media (min-width: 1025px) {
  .about-text-bg03 {
    background-image: url(/image/pc/03\ \(pc\).png);
    background-position: right 1px top 31px;
  }
}

.about-heading {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
  padding-left: 9px;
}
@media (min-width: 1025px) {
  .about-heading {
    font-size: 30px;
    letter-spacing: 1.5px;
    padding-left: 0;
  }
}
.about-heading span {
  color: #159741;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
@media (min-width: 1025px) {
  .about-heading span {
    font-size: 30px;
    letter-spacing: 1.5px;
  }
}

@media (min-width: 1025px) {
  .about-heading-01 {
    margin-top: 21px;
    margin-bottom: 7px;
  }
}

@media (min-width: 1025px) {
  .about-heading-02 {
    margin-top: 40px;
    margin-bottom: 7px;
  }
}

@media (min-width: 1025px) {
  .about-heading-03 {
    margin-top: -9px;
    margin-bottom: 7px;
  }
}

.about-text {
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.48px;
  padding-bottom: 32px;
  padding-left: 9px;
  padding-right: 7px;
}
@media (min-width: 1025px) {
  .about-text {
    font-size: 18px;
    letter-spacing: 0.54px;
    padding-left: 0;
  }
}

@media (min-width: 1025px) {
  .about__text01 {
    margin-right: 155px;
  }
}

@media (min-width: 1025px) {
  .about__text02 {
    margin-right: 223px;
  }
}

.about__text03 {
  margin-bottom: 13px;
}
@media (min-width: 1025px) {
  .about__text03 {
    margin-right: 150px;
  }
}

@media (min-width: 1025px) {
  .about-image-wrapper-01 {
    padding-right: 67px;
    margin-top: 30px;
  }
}

@media (min-width: 1025px) {
  .about-image-wrapper-03 {
    margin-right: 71px;
  }
}

.about-image-03 img {
  padding-bottom: 66px;
  max-width: 100%;
}
@media (min-width: 767px) {
  .about-image-03 img {
    max-width: 699px;
  }
}
@media (min-width: 1025px) {
  .about-image-03 img {
    width: 450px;
    padding-bottom: 53px;
  }
}

.about-image img {
  padding-bottom: 57px;
  max-width: 100%;
}
@media (min-width: 767px) {
  .about-image img {
    max-width: 699px;
  }
}
@media (min-width: 1025px) {
  .about-image img {
    width: 450px;
    padding-bottom: 53px;
  }
}

.menu {
  background: #2F2F2F;
  text-align: center;
  position: relative;
}
.menu::before {
  content: "";
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: 16px;
  right: 16px;
  border: 1px solid #FFF;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .menu::before {
    top: 72px;
    bottom: 72px;
    left: 72px;
    right: 72px;
  }
}

.menu__inner {
  padding: 55px 0 85px;
}
@media (min-width: 1025px) {
  .menu__inner {
    padding: 151px 72px 87px;
  }
}

.menu-title__jp {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-bottom: 9px;
}
@media (min-width: 1025px) {
  .menu-title__jp {
    font-size: 18px;
    letter-spacing: 0.9px;
    padding-left: 5px;
  }
}

.menu-title__en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  position: relative;
}
@media (min-width: 1025px) {
  .menu-title__en {
    font-size: 48px;
    letter-spacing: 2.4px;
    padding-bottom: 7px;
    padding-left: 7px;
  }
}
.menu-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #fff; /*線の色*/
}

.menu-text-pfc {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 60px;
  margin-bottom: 19px;
}
@media (min-width: 1025px) {
  .menu-text-pfc {
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-bottom: 122px;
    margin-top: 43px;
  }
}

.menu-card__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding-bottom: 16px;
}
@media (min-width: 1025px) {
  .menu-card__title {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.menu-card__price {
  padding-bottom: 16px;
}

.menu-card__price-en {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
@media (min-width: 1025px) {
  .menu-card__price-en {
    font-size: 24px;
    letter-spacing: 2.4px;
    padding-right: 8px;
  }
}

.menu-card__price-price {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}
@media (min-width: 1025px) {
  .menu-card__price-price {
    font-size: 40px;
    letter-spacing: 4px;
  }
}

.menu-card__price-tax {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
@media (min-width: 1025px) {
  .menu-card__price-tax {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}

@media (min-width: 1025px) {
  .menu-card1__wrapper {
    display: flex;
    margin-right: 10%;
  }
}

.menu-image__1 {
  position: relative;
  top: 30px;
  z-index: 2;
  padding-left: 24px;
  padding-right: 36px;
}
@media (min-width: 1025px) {
  .menu-image__1 {
    top: auto;
    bottom: 68px;
    left: 143px;
    padding-right: 0;
  }
}
.card1-text__wrapper {
  width: 300px;
  height: 323px;
  background: #F2F2F2;
  margin-left: 38px;
  margin-right: 37px;
  margin-bottom: 32px;
  position: relative;
  top: -12px;
}
.card1-text__wrapper::before {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 15px;
  bottom: 11px;
  left: 10px;
  right: 16px;
}
@media (min-width: 1025px) {
  .card1-text__wrapper {
    width: 592px;
    height: 367px;
    margin-left: 54px;
    margin-bottom: 85px;
    top: -17px;
  }
  .card1-text__wrapper::before {
    content: "";
    position: absolute;
    border: 1px solid #333;
    top: 13px;
    bottom: 13px;
    left: 13px;
    right: 13px;
  }
}

.menu-card1__Recommendation {
  width: 211px;
  height: 97px;
  border: 2px solid #159741;
  background: #159741;
  margin: 0 auto;
  position: absolute;
  left: 45px;
}
@media (min-width: 1025px) {
  .menu-card1__Recommendation {
    width: 251px;
    height: 78px;
    margin-left: 125px;
    margin-right: 170px;
    padding-bottom: 35px;
  }
}

.menu-card1__Recommendation-en {
  color: #FFF;
  font-family: "Satisfy", serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  margin-top: 37px;
}
@media (min-width: 1025px) {
  .menu-card1__Recommendation-en {
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-top: 7px;
    margin-left: 2px;
  }
}

.menu-card1__Recommendation-jp {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.54px;
}
@media (min-width: 1025px) {
  .menu-card1__Recommendation-jp {
    font-size: 24px;
    letter-spacing: 0.72px;
    margin-left: 5px;
  }
}

.menu-card1__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2.4px;
  padding-top: 121px;
  padding-bottom: 13px;
}
@media (min-width: 1025px) {
  .menu-card1__title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 112px;
    padding-bottom: 8px;
    padding-left: 2px;
  }
}

.menu-card1__price {
  padding-bottom: 16px;
}
@media (min-width: 1025px) {
  .menu-card1__price {
    padding-bottom: 22px;
    padding-right: 10px;
    padding-top: 2px;
  }
}

.menu-card1__price-en {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
@media (min-width: 1025px) {
  .menu-card1__price-en {
    font-size: 24px;
    letter-spacing: 2.4px;
    padding-right: 5px;
  }
}

.menu-card1__price-price {
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}
@media (min-width: 1025px) {
  .menu-card1__price-price {
    font-size: 40px;
    letter-spacing: 4px;
  }
}

.menu-card1__price-tax {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
@media (min-width: 1025px) {
  .menu-card1__price-tax {
    font-size: 18px;
    letter-spacing: 1.8px;
    padding-left: 4px;
  }
}

.menu-card1__text {
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding-top: 1px;
  margin-left: 22px;
  margin-right: 21px;
}
@media (min-width: 1025px) {
  .menu-card1__text {
    font-size: 24px;
    letter-spacing: 0.72px;
    margin-left: 76px;
    margin-right: 75px;
  }
}

@media (min-width: 1025px) {
  .menu-card__wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: -6px;
  }
}

.menu-image__2 {
  position: relative;
  z-index: 1;
  padding-right: 6px;
  padding-left: 31px;
  padding-top: 5px;
}
@media (min-width: 1025px) {
  .menu-image__2 {
    left: 54px;
    bottom: 22px;
  }
}
.card2-text__wrapper {
  width: 300px;
  height: 222px;
  margin-left: 38px;
  margin-right: 37px;
  margin-bottom: -13px;
  background: #F2F2F2;
  position: relative;
  bottom: 55px;
}
.card2-text__wrapper::before {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 15px;
  bottom: 11px;
  left: 10px;
  right: 16px;
}
@media (min-width: 1025px) {
  .card2-text__wrapper {
    width: 524px;
    height: 280px;
    margin-right: 8px;
    bottom: 99px;
    right: 4px;
  }
  .card2-text__wrapper::before {
    content: "";
    position: absolute;
    border: 1px solid #333;
    top: 15px;
    bottom: 11px;
    left: 14px;
    right: 12px;
  }
}

.card2__title {
  padding-top: 58px;
  padding-bottom: 11px;
}
@media (min-width: 1025px) {
  .card2__title {
    padding-top: 74px;
    padding-right: 0px;
  }
}

@media (min-width: 1025px) {
  .card2__price {
    padding-bottom: 21px;
    padding-left: 0;
    padding-right: 18px;
  }
}

.menu-card2__text {
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin: 0 21px;
  padding-top: 1px;
}
@media (min-width: 1025px) {
  .menu-card2__text {
    font-size: 24px;
    letter-spacing: 0.72px;
    padding-top: 1px;
    margin-left: 43px;
    margin-right: 40px;
  }
}

.menu-image__3 {
  position: relative;
  z-index: 1;
  padding-left: 34px;
  padding-top: 6px;
}
@media (min-width: 1025px) {
  .menu-image__3 {
    bottom: 23px;
    left: -13px;
  }
}
.card3-text__wrapper {
  width: 300px;
  height: 222px;
  background: #F2F2F2;
  margin-left: 41px;
  margin-right: 34px;
  margin-bottom: -10px;
  position: relative;
  bottom: 55px;
}
.card3-text__wrapper::before {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 15px;
  bottom: 11px;
  left: 10px;
  right: 16px;
}
@media (min-width: 1025px) {
  .card3-text__wrapper {
    width: 524px;
    height: 280px;
    margin-left: -10px;
    bottom: 98px;
  }
  .card3-text__wrapper::before {
    content: "";
    position: absolute;
    border: 1px solid #333;
    top: 14px;
    bottom: 12px;
    left: 12px;
    right: 13px;
  }
}

.card3__title {
  padding-top: 56px;
  padding-bottom: 11px;
}
@media (min-width: 1025px) {
  .card3__title {
    padding-top: 77px;
    padding-left: 5px;
  }
}

@media (min-width: 1025px) {
  .card3__price {
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 15px;
  }
}

.menu-card3__text {
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin: 0 21px;
  padding-top: 1px;
}
@media (min-width: 1025px) {
  .menu-card3__text {
    font-size: 24px;
    letter-spacing: 0.72px;
    padding-top: 1px;
    margin-left: 42px;
    margin-right: 41px;
  }
}

.instagram-card {
  background: #F2F2F2;
  position: relative;
  margin-left: 41px;
  margin-right: 34px;
  margin-bottom: -31px;
  margin-top: 4px;
}
.instagram-card::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 12px;
  left: 10px;
  right: 10px;
  border: 1px solid #333;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .instagram-card {
    width: 1080px;
    height: 544px;
    margin: 0 auto;
    margin-bottom: 82px;
  }
  .instagram-card::before {
    top: 12px;
    bottom: 13px;
    left: 14px;
    right: 13px;
  }
}

.instagram-card__title {
  background: #159741;
  position: relative;
  margin-left: 57px;
  margin-right: 58px;
  margin-bottom: 24px;
}
@media (min-width: 1025px) {
  .instagram-card__title {
    width: 360px;
    height: 73px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 45px;
    margin-right: 58px;
  }
}

.instagram-card__title-en {
  color: #FFF;
  font-family: "reross-quadratic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding: 7px 34px 11px 34px;
}
@media (min-width: 1025px) {
  .instagram-card__title-en {
    font-size: 30px;
    letter-spacing: 1.5px;
    padding-top: 14px;
    padding-bottom: 19px;
  }
}

.instagram-card__text {
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 32px 22px;
  position: relative;
}
@media (min-width: 1025px) {
  .instagram-card__text {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.9px;
    padding-top: 27px;
    padding-bottom: 34px;
    padding-left: 46px;
    padding-right: 42px;
  }
  .instagram-card__text::before, .instagram-card__text::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #333;
    transform: rotate(54deg);
  }
  .instagram-card__text::before {
    left: -2px;
    top: -1px;
    margin-top: 41px;
    margin-left: 22%;
  }
  .instagram-card__text::after {
    top: 1px;
    right: 12px;
    transform: rotate(-54deg);
    margin-top: 39px;
    margin-right: 21%;
  }
}

.instagram-card__image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 20px 2px 20px;
}
@media (min-width: 1025px) {
  .instagram-card__image-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
    padding-left: 47px;
    padding-right: 62px;
  }
}
.instagram-card__image-container img {
  max-width: 100%;
  height: auto;
  max-width: 125px;
  max-height: 125px;
}
@media (min-width: 1025px) {
  .instagram-card__image-container img {
    max-width: 231px;
    max-height: 231px;
  }
}

.instagram-card__ID {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 24px;
  padding-right: 10px;
}
@media (min-width: 1025px) {
  .instagram-card__ID {
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 26px;
  }
}

.instagram-card__btn-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #333;
  margin: 0 20px 34px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 40px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .instagram-card__btn-text {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-right: 77px;
    padding-left: 58px;
    margin-right: 18px;
  }
}
.instagram-card__btn-text:hover {
  background-color: #000;
  color: #fff;
}
.instagram-card__btn-text:hover .external-icon {
  content: url("/image/external-link (wihte).png");
}

.external-icon {
  width: 19px;
  height: 19px;
  margin-bottom: -3px;
  margin-left: 16px;
  margin-right: 17px;
}
@media (min-width: 1025px) {
  .external-icon {
    width: 20px;
    height: 20px;
    margin-bottom: -2px;
    margin-left: 113px;
    position: absolute;
    top: 17px;
    left: 134px;
  }
}

.shop {
  background: #F2F2F2;
}

.shop__inner {
  padding-top: 65px;
}
@media (min-width: 1025px) {
  .shop__inner {
    padding-top: 122px;
  }
}

.shop-title__jp {
  text-align: center;
  color: #159741;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
@media (min-width: 1025px) {
  .shop-title__jp {
    font-size: 18px;
    letter-spacing: 0.9px;
    padding-right: 5px;
  }
}

.shop-title__en {
  position: relative;
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-top: 8px;
  padding-bottom: 68px;
}
@media (min-width: 1025px) {
  .shop-title__en {
    font-size: 48px;
    letter-spacing: 2.4px;
    padding-top: 8px;
    padding-right: 5px;
  }
}
.shop-title__en::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 56px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}
@media (min-width: 1025px) {
  .shop-title__en::before {
    bottom: 52px;
  }
}

.shop__access-map {
  position: relative;
  margin-bottom: 53px;
}
@media (min-width: 1025px) {
  .shop__access-map {
    padding-top: 29px;
    padding-left: 3px;
    margin-bottom: 0;
    width: 100%;
  }
}

.map-image {
  width: 100%;
}

.union__image-wrap {
  position: absolute;
  top: 45%;
  right: 17%;
}
@media (min-width: 767px) {
  .union__image-wrap {
    top: 60%;
    right: 22%;
  }
}
@media (min-width: 768px) {
  .union__image-wrap {
    top: 64%;
    right: 23%;
  }
}
@media (min-width: 1025px) {
  .union__image-wrap {
    top: 37.5%;
    right: 27%;
  }
}

.union-image {
  width: 72.895px;
  height: 73.595px;
}
@media (min-width: 1025px) {
  .union-image {
    width: 150px;
    height: 151.441px;
  }
}

@media (min-width: 1025px) {
  .shop-detail {
    display: flex;
  }
}

@media (min-width: 1025px) {
  .shop-text-container {
    margin-top: 149px;
    margin-left: 154px;
  }
}

@media (min-width: 1025px) {
  .shop__name-wrapper {
    display: flex;
  }
}

.shop-name {
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.96px;
}
@media (min-width: 1025px) {
  .shop-name {
    margin: 0;
    padding-left: 30px;
  }
}
.shop-name span {
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding-right: 4px;
}
@media (min-width: 1025px) {
  .shop-name span {
    color: #333;
    text-align: center;
    font-family: Reross;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.shop-ruby {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding-bottom: 24px;
}
@media (min-width: 1025px) {
  .shop-ruby {
    font-size: 18px;
    letter-spacing: 0.54px;
    padding-bottom: 25px;
    margin-left: -1px;
    margin-top: 6px;
  }
}

.shop-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.48px;
  padding-left: 28px;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media (min-width: 1025px) {
  .shop-adress {
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.54px;
    padding-left: 26px;
    padding-bottom: 1px;
  }
}

.shop-information {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.48px;
  padding-left: 28px;
  padding-bottom: 40px;
  padding-top: 4px;
}
@media (min-width: 1025px) {
  .shop-information {
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.54px;
  }
}

.shop-table {
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.48px;
  padding: 0px 26px 34px;
}
@media (min-width: 1025px) {
  .shop-table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.54px;
    margin-left: 15px;
  }
}

.shop-row {
  padding: 10px 0;
}

.shop-header {
  font-weight: normal;
  width: 25%;
  text-align: left;
  vertical-align: top;
}
@media (min-width: 1025px) {
  .shop-header {
    width: 20%;
    padding-top: 10px;
    padding-left: 11px;
  }
}

@media (min-width: 1025px) {
  .shop-date {
    padding: 10px 80px 0px 6px;
  }
}

@media (min-width: 1025px) {
  .shop-date__access {
    padding-top: 7px;
    line-height: 162%;
  }
}

.shop-image__exterior {
  padding: 0 16px;
  margin-bottom: 100px;
}
@media (min-width: 1025px) {
  .shop-image__exterior {
    text-align: right;
    margin: 0 0 0 auto;
    padding-right: 0;
    margin-bottom: 80px;
    margin-top: 80px;
    padding-left: 80px;
  }
}

.post-card__container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 66px;
}
@media (min-width: 1025px) {
  .post-card__container {
    padding: 0px 147px 115px;
  }
}

.post-card__wrapper {
  background: #fff;
  padding: 16px 10px 60px 10px;
  box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.6);
}
@media (min-width: 1025px) {
  .post-card__wrapper {
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 34px;
    padding-bottom: 0px;
  }
}

.post-card__images {
  position: relative;
}
@media (min-width: 1025px) {
  .post-card__images {
    display: flex;
  }
}

.post-card__stamp {
  position: absolute;
  z-index: 2;
  top: -58px;
  left: -26px;
}
@media (min-width: 1025px) {
  .post-card__stamp {
    top: -101px;
    left: -131px;
  }
}

.post-card__terrace {
  position: relative;
  display: inline-block;
}
.post-card__terrace::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border: 1px solid #fff;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .post-card__terrace img {
    width: 629.568px;
    height: 430.748px;
  }
}
@media (min-width: 1025px) {
  .post-card__terrace::before {
    top: 18px;
    left: 28px;
    right: 28px;
    bottom: 25px;
  }
}

.post-card__takeout {
  position: relative;
  display: inline-block;
  margin-top: -2px;
}
.post-card__takeout::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border: 1px solid #fff;
}
@media (min-width: 1025px) {
  .post-card__takeout {
    margin-top: 0;
  }
  .post-card__takeout::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 19px;
    right: 20px;
    bottom: 26px;
    border: 1px solid #fff;
    pointer-events: none;
  }
}
@media (min-width: 1025px) and (min-width: 768px) {
  .post-card__takeout img {
    width: 449.691px;
    height: 430.748px;
  }
}

.card-text__wrapper {
  padding-top: 21px;
  padding-left: 14px;
}
@media (min-width: 1025px) {
  .card-text__wrapper {
    padding-top: 0;
    padding-left: 9px;
    gap: 135px;
  }
}

.card-text__title {
  color: #333;
  font-family: "Satisfy", serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
@media (min-width: 1025px) {
  .card-text__title {
    font-size: 48px;
    letter-spacing: 2.4px;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-top: 22px;
  }
}

.card-text {
  color: #4F4F4F;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 250%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 1px;
  -webkit-text-decoration-color: #4F4F4F;
          text-decoration-color: #4F4F4F;
  text-underline-offset: 12px;
}
@media (min-width: 1025px) {
  .card-text {
    text-align: left;
    margin-right: 220px;
    padding-top: 39px;
  }
}

.green-text {
  color: #159741;
  font-family: "Satisfy", serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.8px;
  padding-left: 24px;
  transform: rotate(-6deg);
}
@media (min-width: 1025px) {
  .green-text {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: right;
    margin-top: -12px;
    margin-right: 7px;
  }
}
.green-text::before {
  content: "";
  position: absolute;
  width: 286px;
  height: 1px;
  background-color: #159741;
  transform: rotate(-1deg);
  top: 43px;
  right: 4px;
}
.green-text::after {
  content: "";
  position: absolute;
  width: 286px;
  height: 1px;
  background-color: #159741;
  transform: rotate(-1deg);
  top: 49px;
  right: 5px;
}

.contact {
  background-image: url(/image/sp/img：野菜\(背景\).png);
  background-size: 100%;
}
@media (min-width: 1025px) {
  .contact {
    background-image: url(/image/pc/img：野菜.png);
  }
}

.contact__inner {
  padding: 62px 16px 64px;
}
@media (min-width: 1025px) {
  .contact__inner {
    padding: 130px 0;
  }
}

.contact__wrapper {
  background: #F2F2F2;
}
@media (min-width: 1025px) {
  .contact__wrapper {
    width: 800px;
    height: 1032px;
    margin: 0 auto;
  }
}

.contact-title__jp {
  text-align: center;
  color: #159741;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-top: 65px;
}
@media (min-width: 1025px) {
  .contact-title__jp {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.contact-title__en {
  position: relative;
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-top: 7px;
  padding-bottom: 60px;
}
@media (min-width: 1025px) {
  .contact-title__en {
    font-size: 48px;
    letter-spacing: 2.4px;
    padding-top: 8px;
    padding-bottom: 42px;
  }
}
.contact-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 47px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}
@media (min-width: 1025px) {
  .contact-title__en::after {
    bottom: 30px;
  }
}

.contact-text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding-left: 16px;
  padding-bottom: 11px;
}
@media (min-width: 1025px) {
  .contact-text {
    text-align: center;
    padding-left: 0;
    padding-bottom: 28px;
  }
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 31px 17px;
}
@media (min-width: 1025px) {
  .contact-form {
    max-width: 562px;
    padding: 20px 22px 31px 20px;
  }
}
.contact-form .form-group {
  margin-bottom: 31px;
}
.contact-form .form-group .form-label {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1025px) {
  .contact-form .form-group .form-label {
    font-size: 18px;
    margin-left: 1px;
  }
}
.contact-form .form-group .form-label .required {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  border-radius: 6px;
  background: #159741;
  padding: 1px 7px 3px 8px;
  margin-left: 10px;
}
.contact-form .form-group .form-input,
.contact-form .form-group .form-textarea {
  width: 102%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #2F2F2F;
  background: #fff;
  margin-top: 6px;
}
@media (min-width: 1025px) {
  .contact-form .form-group .form-input,
.contact-form .form-group .form-textarea {
    width: 100%;
    padding: 11px 11px 12px 23px;
  }
}
.contact-form .form-group .form-input:hover,
.contact-form .form-group .form-textarea:hover {
  border: 1px solid #159741;
  box-shadow: 0px 0px 4px 0px #159741;
}
.contact-form .form-group .form-input:focus,
.contact-form .form-group .form-textarea:focus {
  border: 1px solid #159741;
  box-shadow: 0px 0px 4px 0px #159741;
}
.contact-form .form-group .form-input::-moz-placeholder, .contact-form .form-group .form-textarea::-moz-placeholder {
  color: #BDBDBD;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-form .form-group .form-input::placeholder,
.contact-form .form-group .form-textarea::placeholder {
  color: #BDBDBD;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-form .form-group .form-input:focus::-moz-placeholder, .contact-form .form-group .form-textarea:focus::-moz-placeholder {
  opacity: 0;
}
.contact-form .form-group .form-input:focus::placeholder,
.contact-form .form-group .form-textarea:focus::placeholder {
  opacity: 0;
}
.contact-form .form-group .form-textarea {
  height: 160px;
}
.contact-form .form-group .form-checkbox {
  margin-right: 10px;
}

.form-textarea {
  max-width: 102%;
  height: 150px;
  background: #fff;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2F2F2F;
}
.form-textarea::-moz-placeholder {
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 400;
}
.form-textarea::placeholder {
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1025px) {
  .form-checkbox {
    text-align: center;
    margin-top: -13px;
    margin-left: 33px;
  }
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: default;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: 0.2s, border-color 0.2s;
}
@media (min-width: 1025px) {
  input[type=checkbox] {
    margin-right: 20px;
    margin-top: 8px;
  }
}
input[type=checkbox]:hover {
  border: 1px solid #159741;
  box-shadow: 0px 0px 4px 0px #159741;
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 10px;
  height: 20px;
  border-right: 2px solid #159741;
  border-bottom: 2px solid #159741;
  transform: translate(-50%, -50%) rotate(48deg);
}

.privacy-text {
  pointer-events: none;
}

.privacy-text {
  padding-bottom: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
  left: 3px;
}
@media (min-width: 1025px) {
  .privacy-text {
    font-size: 18px;
    letter-spacing: 0.9px;
    top: 6px;
    right: 0px;
    left: -9px;
  }
}

.privacy-text-accent {
  color: #159741;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.8px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  pointer-events: auto;
}
.privacy-text-accent:hover {
  opacity: 0.7;
}
@media (min-width: 1025px) {
  .privacy-text-accent {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

@media (min-width: 1025px) {
  .submit-btn {
    text-align: center;
  }
}

.form-button {
  color: #FFF;
  width: 300px;
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.9px;
  cursor: pointer;
  background: #159741;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 14px;
  margin-top: 32px;
  margin-left: 5px;
}
@media (min-width: 1025px) {
  .form-button {
    width: 239px;
    height: 56px;
    margin-top: 36px;
    margin-left: 0px;
  }
}
.form-button:hover {
  opacity: 0.7;
}
.form-button:disabled {
  background: #BDBDBD;
  cursor: not-allowed;
  opacity: 0.7;
}

.footer {
  background: #F2F2F2;
}

.footer__inner {
  padding: 48px 46px 10px;
}
@media (min-width: 1025px) {
  .footer__inner {
    padding-top: 56px;
    padding-bottom: 9px;
  }
}

.sns-icons {
  display: flex;
  padding-left: 26px;
  padding-right: 27px;
  padding-bottom: 40px;
  gap: 40px;
}
@media (min-width: 1025px) {
  .sns-icons {
    justify-content: center;
    padding-bottom: 38px;
    gap: 40px;
  }
}

.twitter-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/image/Twitter(footer).png");
  background-size: cover;
}
.twitter-icon:hover {
  background-image: url("/image/Twitter(hover).png");
}
@media (min-width: 768px) {
  .twitter-icon {
    width: 40px;
    height: 40px;
  }
}
.twitter-icon img {
  display: none;
}

.instagram-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/image/Instagram(footer).png");
  background-size: cover;
}
.instagram-icon:hover {
  background-image: url("/image/Instagram(hover).png");
}
@media (min-width: 768px) {
  .instagram-icon {
    width: 40px;
    height: 40px;
  }
}
.instagram-icon img {
  display: none;
}

.tiktok-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/image/TikTok(footer).png");
  background-size: cover;
}
.tiktok-icon:hover {
  background-image: url("/image/TikTok(hover).png");
}
@media (min-width: 768px) {
  .tiktok-icon {
    width: 40px;
    height: 40px;
  }
}
.tiktok-icon img {
  display: none;
}

.footer-nav {
  display: flex;
  color: #333;
  font-family: "reross-quadratic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  gap: 32px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .footer-nav {
    font-size: 18px;
    letter-spacing: 0.54px;
    justify-content: center;
    gap: 40px;
  }
}

.footer-logo {
  text-align: center;
  padding-top: 35px;
}
@media (min-width: 1025px) {
  .footer-logo {
    padding-top: 37px;
  }
}
.footer-text {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  padding-top: 23px;
}
@media (min-width: 1025px) {
  .footer-text {
    padding-top: 15px;
    padding-left: 6px;
  }
}

.page-top {
  display: flex;
  justify-content: flex-end;
  padding-right: 17px;
}
@media (min-width: 1025px) {
  .page-top {
    padding-right: 60px;
  }
}

.page-top__btn {
  width: 68px;
  height: 0px;
  margin-top: -33px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .page-top__btn {
    width: 120px;
    margin-top: -60px;
  }
}

.page-top__btn img {
  width: 100%;
  height: auto;
}
/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 80%;
  text-align: center;
  max-height: 80vh;
  overflow-y: scroll;
}

.privacy-title__jp {
  text-align: center;
  color: #159741;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding-top: 64px;
}
@media (min-width: 1025px) {
  .privacy-title__jp {
    font-size: 18px;
    letter-spacing: 0.9px;
    padding-top: 10px;
  }
}

.privacy-title__en {
  position: relative;
  text-align: center;
  font-family: "reross-quadratic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-top: 10px;
  padding-bottom: 58px;
}
@media (min-width: 1025px) {
  .privacy-title__en {
    font-size: 48px;
    letter-spacing: 2.4px;
    padding-top: 8px;
    padding-bottom: 42px;
  }
}
.privacy-title__en::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 47px; /*線の上下位置*/
  display: inline-block;
  width: 50px; /*線の長さ*/
  height: 2px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #159741; /*線の色*/
}
@media (min-width: 1025px) {
  .privacy-title__en::after {
    bottom: 30px;
  }
}

.privacy-text {
  color: #000;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.privacy-text h3 {
  font-size: 18px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.close {
  cursor: pointer;
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: underline;
}

.parallax {
  margin-top: 0;
  background-image: url("/image/salad-5904093_1920 1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 134%;
  max-width: 375px;
  max-height: 250px;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 767px) {
  .parallax {
    max-width: 767px;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .parallax {
    min-width: 768px;
    max-height: 450px;
    width: 100vw;
  }
}
@media (min-width: 1025px) {
  .parallax {
    min-width: 1440px;
    max-width: none;
    width: 100vw;
  }
}

.parallax2 {
  margin-top: 0;
  background-image: url("/image/cafe-768771_1920 1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 134%;
  max-width: 375px;
  max-height: 250px;
  height: 100vh;
}
@media (min-width: 767px) {
  .parallax2 {
    max-width: 767px;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .parallax2 {
    min-width: 768px;
    max-height: 450px;
    width: 100vw;
  }
}
@media (min-width: 1025px) {
  .parallax2 {
    min-width: 1440px;
    max-width: none;
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */