@mixin mq($breakpoint) {
    @media (#{map-get($breakpoints, $breakpoint)} <= width) {
      @content;
    }
  }

$breakpoints: (
  sm: 500px,
  md: 700px,
  lg: 900px,
);

$font-black: #333;
$font-white: #FFF;
$base-color: #2f2f2f;
$main-color: #f2f2f2;
$accent-color: #159741;
$font-reross: "reross-quadratic", sans-serif;
$font-Satisfy: "Satisfy", serif;
  
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
.pc-none{
    display: block;
    @include mq(md) {
      display: none;
    }
}
.pc-block{
    display: none;
    @include mq(md) {
      display: block;
    }
}

//  header
.header{
    background: $base-color;
    width: 375px;
    height: 60px;
    @include mq(md) {
        width: 1440px;
        height: 90px;
    }
}
.header__inner{
    padding: 15px 16px 17px 16px;
    display: flex;
    justify-content: space-between;
    @include mq(md) {
        padding: 20px 71px 12px 33px;

    }
}
.header-left{

}
.header__logo{
    @include mq(md) {
        margin-left: -20px;
        margin-top: -5px;
    }
    img{
        @include mq(md) {
            // width: 115.839px;
            // height: 63px;
            padding-left: 18px;
        }
    }
}
.logo__header-sp{
    display: block;
    @include mq(md) {
      display: none;
    }
}
.logo__header-pc{
    display: none;
    @include mq(md) {
      display: block;
    }
}
.header-right{

}
.nav_header{

}
.nav_header-lists{
    display: flex; /* 横並びにする */
    justify-content: flex-end; /* 右寄せにする */
    gap: 20px; /* リストアイテム間の均等な間隔 */
    margin-left: 65px;
    @include mq(md) {
      justify-content: flex-end;
      gap: 40px;
      margin-top: 15px;
    }
}
.nav_header-list{
    justify-content: space-between;
    a{
        color: $font-white;
        font-family: $font-reross;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.42px;
        @include mq(md) {
            font-size: 18px;
            letter-spacing: 0.54px;
        }
    }
}


//  mv  ---------------------------------------------------------------------------------
.mv{
    background: $base-color;
    height: 263px;
    position: relative;
    top: -1px;
    @include mq(md) {
        max-width: 1440px;
        height: 650px;
    }
}
.mv-bg-image{
    width: 100%;
    height: 243px;
    background-image: url(/image/img_mv\(SP\).png);
    background-position: 66px 0;
    padding-bottom: 20px;
    @include mq(md) {
        height: 650px;
        background-image: url(/image/img_mv\ \(PC\).png);
        background-position: right;
    }
}
.mv-texts__en{
    color: $font-white;
    font-family: $font-reross;
    font-size: 36px;
    font-weight: 400;
    padding-left: 19px;
    @include mq(md) {
        font-size: 100px;
        line-height: 100px; /* 100% */
        padding-left: 178px;
    }
}
.mv-text__en-farst{
    padding-top: 24px;
    margin-bottom: -10px;
    @include mq(md) {
        padding-top: 85px;
        margin-bottom: 3px;
    }
}
.mv-text__en-second{

}
.salad{
    margin-top: -6px;
    color: $accent-color;
    font-family: $font-reross;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    @include mq(md) {
        margin-top: 1px;
        font-size: 100px;
        line-height: 100px;
    }
    span{
        color: $font-white;
    }
}
.mv-texts__jp{
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    padding-left: 17px;
    @include mq(md) {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1.6px;
        margin-top: 24px;
        padding-left: 180px;
    }
}
.mv-text__jp-farst{
    padding-top: 20px;
    padding-bottom: 9px;
    padding-left: 8px;
    @include mq(md) {
        padding-bottom: 22px;
      padding-left: 19px;
    }
}
.mv-text__jp-second-wrapper{
    width: 231px;
    height: 31px;
    background: $accent-color;
    padding: 4px 8px 7px 0px;
    @include mq(md) {
        width: 524px;
        height: 64px;
        padding: 9px 20px 9px 0;
    }
}
.mv-text__jp-second{
    
}

// concept


.concept{
    position: relative;
    top: -2px;
    background: $base-color;
    background-image: url(/image/pGarden\ Salad\(sp\).png);
    background-repeat: no-repeat;
    background-position: 6px 272px;
    @include mq(md) {
      background-image: url(/image/Garden\ Salad\(pc\).png);
      background-position: bottom;
    }
}
.concept__inner{
    padding-top: 28px;
    padding-bottom: 40px;
    padding-right: 32px;
    padding-left: 33px;
    @include mq(md) {
      padding-top: 122px;
      padding-bottom: 83px;
    }
}
.concept-title{
    color: $font-white;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 20px;
    line-height: 150%; /* 30px */
    padding-bottom: 24px;
    letter-spacing: 1px;
    padding-left: 17px;
    @include mq(md) {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1.5px;
        padding-bottom: 48px;
        padding-left: 3px;
    }
}
.concept-texts{
    color: $font-white;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.48px;
    @include mq(md) {
        font-size: 18px;
        letter-spacing: 0.54px;
    }
}
.concept-text{
    padding-bottom: 24px;
    @include mq(md) {
      padding-bottom: 27px;
    }
}

// about
.about{
    background: $main-color;
}
.about__inner{
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 15px;
    @include mq(md) {
      padding-top: 129px;
      padding-bottom: 150px;
    }
}
.about-subtitle{
    color: $accent-color;
    text-align: center;
    margin: 0 auto;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding-bottom: 8px;
    @include mq(md) {
        font-size: 18px;
        letter-spacing: 0.9px;
    }
}
.about-title{
    position: relative;
    color: $font-black;
    font-family: $font-reross;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.6px;
    padding-bottom: 12px;
    margin-bottom: 56px;
    @include mq(md) {
        font-size: 48px;
        letter-spacing: 2.4px;
    }
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0px;/*線の上下位置*/
        display: inline-block;
        width: 50px;/*線の長さ*/
        height: 2px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #159741;/*線の色*/
        @include mq(md) {
          bottom: -6px;
        }

    }

}
.about-text-container{
    // padding-top: 62px;
}
.about-heading{
    color: $font-black;
    font-family: "Noto Sans JP";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding-bottom: 16px;
    padding-left: 9px;
    span{
        color: $accent-color;
        font-family: "Noto Sans JP";
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1.2px;
    }
}
.about-text{
    color: $font-black;
    text-align: justify;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.48px;
    padding-bottom: 32px;
    padding-left: 9px;
    padding-right: 7px;

}
.about-image{
    img{
        padding-bottom: 53px;
    }
}
.about-text-bg01{
    background-image: url(/image/01.png);
    background-position: right 45px;
}
.about-text-bg02{
    background-image: url(/image/02.png);
    background-position: right 79px;
    // margin-bottom: 32px;
}
.about-text-bg03{
    background-image: url(/image/03.png);
    background-position: right 68px;
    margin-bottom: 14px;
}
.about-image__bottom{
    margin-top: -7px;
    img{
        width: 100%;
        height: 250px;
    }
}
.about-text__03{
    margin-bottom: 13px;
}